**assignment** **2**

1

In [ ]:
height=int(input('enter a number'))
width=int(input('enter a number'))
a=height*width
print(a)

enter a number9
enter a number7
63

2

In [ ]:
a=int(input('enter a no'))
b=int(input('enter a no'))
s=a+b
d=a-b
p=a*b
q=a/b
print(s)
print(d)
print(p)
print(q)

enter a no10
enter a no3
13
7
30
3.3333333333333335

3

In [ ]:
f=float(input('enter a no'))
c=(f-32)*5/9
print(c)

enter a no50
10.0

In [ ]:
c=float(input('enter a no'))
f=(c*9/5)+32
print(f)

enter a no30
86.0

4

In [ ]:
num=int(input('enter a no'))
if a>0:
  print('num is positive')
elif a<0:
  print('num is negetive')

enter a no4
num is positive

5

In [ ]:
y=int(input('enter the year'))
if y%4==0:
  print('it is a leap year')
elif y%4!=0:
  print('it is not a leap year')
elif y%400==0:
  print('it is a leap year')
elif y%400!=0:
  print('it is not a leap year')

enter the year2004
it is a leap year

6

In [ ]:
mark=int(input('enter mark'))
if mark>90:
  print('A')
elif mark>80:
  print('B')
elif mark>70:
  print('C')
elif mark>60:
  print('D')
else:
  print('F')

enter mark57
F

7

In [ ]:
for num in range (10,0,-1):
 print(num)

10
9
8
7
6
5
4
3
2
1

8

In [ ]:
for num in range (2,22,2):
  print(num)

2
4
6
8
10
12
14
16
18
20

9

In [ ]:
n=int(input('enter a no'))
for i in range (1,11):
  print(i,'x','=',i*n)

enter a no2
1 x = 2
2 x = 4
3 x = 6
4 x = 8
5 x = 10
6 x = 12
7 x = 14
8 x = 16
9 x = 18
10 x = 20